.root {
  position: relative;
  width: 1440px;
  height: 1435px;
  flex-direction: column;
  align-items: flex-start;
}
.enTeteBlancTop {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 892px;
  background-color: #fff;
}
.striveLogo11 {
  position: absolute;
  left: 46px;
  top: 44px;
  width: 198px;
  height: 50px;
  background-image:/* webpackIgnore: true */ url('assets/striveLogo11.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lesStatistiquesResultatsEtActu {
  color: #111;
  font-size: 25px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 0.5px);
  top: 305px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.sTRIVESTATSSOON {
  color: #111;
  font-size: 80px;
  font-weight: 900;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 211px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle1 {
  position: absolute;
  left: 70px;
  top: 399px;
  width: 400px;
  height: 200px;
  border-radius: 15px;
  background-color: #111;
}
.sTATISTIQUES {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 450px);
  top: 432px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.striveSuitLesStatistiquesDesLi {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 450px);
  top: calc(50% - 200px);
  width: 294px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.rectangle4 {
  position: absolute;
  left: 520px;
  top: 399px;
  width: 400px;
  height: 200px;
  border-radius: 15px;
  background-color: #111;
}
.rESULTATS {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 432px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.striveSuitLesResultatsDesLigue {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: calc(50% - 200px);
  width: 294px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.rectangle5 {
  position: absolute;
  left: 970px;
  top: 399px;
  width: 400px;
  height: 200px;
  border-radius: 15px;
  background-color: #111;
}
.aCTUALITES {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -450px);
  top: 432px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.blessureResultatSerreStrivePub {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -450px);
  top: calc(50% - 200px);
  width: 294px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.aCCUEIL {
  color: #000;
  font-size: 20px;
  font-weight: 900;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1282px;
  top: 44px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle6 {
  position: absolute;
  left: 0;
  top: 970px;
  width: 1440px;
  height: 465px;
  background-color: #111;
}
.vector {
  position: absolute;
  left: 0;
  top: 621px;
  width: 1440px;
  height: 418px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.image1 {
  position: absolute;
  left: 1213px;
  top: 1332px;
  width: 42px;
  height: 42px;
  background-image:/* webpackIgnore: true */ url('assets/image1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sTRIVECESTQUOI {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 381.5px);
  top: 937px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.striveCEstUnOrganismeQuiSuitLe {
  color: #fff;
  font-size: 22.5px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 135px;
  top: 1003px;
  width: 440px;
  height: min-content;
  flex-direction: column;
}
.rectangle7 {
  position: absolute;
  left: 102px;
  top: 1006px;
  width: 10px;
  height: 167px;
  border-radius: 5px;
  background-color: #272727;
}
.sTRIVESTATSXYZ {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -342px);
  top: 937px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.strivestatsXyzCEstLeSiteWebDeS {
  color: #fff;
  font-size: 22.5px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 858px;
  top: 1003px;
  width: 479px;
  height: min-content;
  flex-direction: column;
}
.rectangle72 {
  position: absolute;
  left: 825px;
  top: 1006px;
  width: 10px;
  height: 167px;
  border-radius: 5px;
  background-color: #272727;
}
.line1 {
  position: absolute;
  left: 50%;
  top: 1296px;
  width: 1152px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 1px #fff;
  transform: translateX(-50%);
}
.striveStats2023TousDroitsReser {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 1341px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.striveLogoWHITE1 {
  position: absolute;
  left: 139px;
  top: 1336px;
  width: 177px;
  height: 44px;
  background-image:/* webpackIgnore: true */ url('assets/striveLogoWHITE1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image2 {
  position: absolute;
  left: 1261px;
  top: 1335px;
  width: 35px;
  height: 35px;
  background-image:/* webpackIgnore: true */ url('assets/image2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
